* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Person{
  background: #eeeeee;
  width: 17%; 
  /* //basically by doing auto we are putting this container in a center */
  margin: 2rem auto;  
  transition: all 0.3s linear;
  border-radius: 0.3rem;
  text-align: center;
}


.Person img{
  border-radius: 50%; 
  border: 0.1rem solid teal;
}

.Person h4{
  margin:0.5rem 0; 
  text-transform: capitalize;
  letter-spacing: 0.15rem;
  color:teal;
}

.Person:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}
